<br><br><br>
<br>
<br>
<div class= "new-box col-4 offset-4 card text-center">
  <% if flash[:errors] %> 
    <% flash[:errors].each do |error| %> 
      <li><%= error %></li> 
    <% end %>
 <% end %>

  <h2>Edit Trip</h2>
    <%= form_for @trip do |f|%>
      <h4><%= f.label :title %></h4>
        <p><%= f.text_field :title %><br></p>
      <h4>Select Destination</h4>
        <p><%= f.collection_select(:destination_id, Destination.all, :id, :name) %></p>
      <%= f.submit %>
    <% end %>
  <p><%= button_to "Delete Trip",{ action: "destroy", id: @trip.id }, method: :delete, data: {confirm: "Are you sure?"} %></p>
</div>
