<% if flash[:message] %>
  <%= flash[:message] %>
<% end %><br>
<div class="row">
<div class="new-box col-3">
  <div class="offset-2">
  <br><img src= '<%=@user.image_url%>'><br>
  <h1><%=@user.name%></h1>
  <p><h6><b>Age: </b><%=@user.age%></h6>
  <p><h6><b>About Me: </b><%=@user.description%></h6><br>
    <%if current_user == @user%>
  <h6>Followers: <%= current_user.passive_relationships.count %></h6>
  <h6>Following: <%= current_user.active_relationships.count %></h6>
    <%else%>
  <h6>Followers: <%= @user.passive_relationships.count %></h6>
  <h6>Following: <%= @user.active_relationships.count %></h6>
    <%end%>

    <% if current_user.id == @user.id%>
      <b><%= link_to "Edit User", edit_user_path(@user) %></b>
    <% else %>
      <% if @relationship %>
        <%= link_to "Stop Following", @relationship, method: :delete %>
      <% else %>
        <%= form_for :relationship, url: relationships_path, html: { method: :post } do |f| %>
          <%= f.hidden_field :followed_id, value: @user.id %>
          <%= f.submit 'Follow', class: 'btn btn-success' %>
        <% end %>
      <% end %>
    <% end %>

  </div>
  <br>
</div>


<div class="col-12 col-md-5">
  <br><br><h3 class="text-center"><%= @user.name %>'s Reviews</h3><br>

  <%@user.reviews.each do |review| %>
      <div>
        <div class="card bg-dark text-light">
          <div class="card-body">
            <h4 class="card-title"><p><b><a href="<%=destination_path(review.destination)%>" style="color: white"><%=review.destination.name%></a></h4>
            <h5><%= review.title %></h5>
            <p class="card-text">
              <%= review.content %>
            </p>
            <h6>Rating: <%= review.rating %></h6>
            <% if current_user == @user %>
            <%= link_to "Edit Review", edit_review_path(review) %>
            <% end %>
          </div>
        </div>
      </div><br>
  <% end %>
</div>

  <br><br>
    <h3 class="text-center"><%= @user.name %>'s Trips</h3><br>

    <%@user.trips.each do |trip| %>
      <div class="new-box col-12"><br><h6><%=trip.title %> - <%= link_to trip.destination.name, destination_path(trip.destination_id) %></h6>
      <% if current_user.id == @user.id%>
        <%= link_to "Edit Trip", edit_trip_path(trip) %>
      <% end %>
      </div><br>
    <% end %>


</div>
