<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<h1><%=@user.name%></h1>


<p><b>Age: </b><%=@user.age%></p>
<p><b>About Me: </b><%=@user.description%></p><br>
<img src= '<%=@user.image_url%>'><br>
<%= form_for :relationship, url: relationships_path, html: { method: :post } do |f| %>
  <%= f.hidden_field :followed_id, value: @user.id %>
  <%= f.submit 'Invite', class: 'btn btn-success' %>
<% end %>
  <% if current_user.id == @user.id%>
    <%= link_to "Edit User", edit_user_path(@user) %>
  <% end %>

<ul>
  <h3><%= @user.name %>'s Trips</h3>
  <%@user.trips.each do |trip| %>
    <p><li><%=trip.title %> - <%= link_to trip.destination.name, destination_path(trip.destination_id) %></li></p>
    <% if current_user.id == @user.id%>
    <%= link_to "Edit Trip", edit_trip_path(trip) %>
    <% end %>
  <% end %>
</ul>

<ul>
  <h3><%= @user.name %>'s Reviews</h3>
  <%@user.reviews.each do |review| %>
    <p><li><b><%=review.title %></b>
    <%= review.content %></li></p>
      <% if current_user.id == @user.id%>
        <%= link_to "Edit Review", edit_review_path(review) %>
      <% end %>
  <% end %>
</ul>
