<h1><%=@user.name%></h1>

  <p><b>Age: </b><%=@user.age%></p>
<p><b>About Me: </b><%=@user.description%></p>
<p><img src= '<%=@user.image_url%>'></p><br>

<b><%= link_to "Login", '/login' %> or <%= link_to "Join Now", '/users/new' %> to See Full Profile</b>
