<div class="text-white search">
<h3>All Destinations</h3>

<h3>Search by Destination Name:</h3>
  <%= form_tag('/destinations/search', method: "get") do %>
    <%= label_tag :search %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %><br>
    <small><b><i>Spelling and Capitalization Sensitive</i></b></small>
  <% end %>
</div>
      <% @destinations.each do |destination| %><br>
        <div class="col-5">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><%= destination.name %></h4>
              <p class="card-text">
                <%= destination.description %>
              </p>
              <a href="<%=destination.location_url%>" class="card-link">Location</a>
              <a href="<%=destination.booking_url%>" class="card-link">Book now</a>
            </div>
          </div>
        </div>
      <% end %>
