<h1>Destination: <%= @destination.name %></h1>

<%= form_tag @destination %>
<h4>Site Summary:</h4>
<p><%=label_tag(@destination.description)%></p>
<%=label_tag(@destination.location_url)%><br><br>
<%=label_tag(@destination.booking_url)%>
<ul>
  <h4>User Reviews</h4>
  <% @destination.reviews.each do |review| %>
  <li><p><b><%= review.title %></b><br>
    <small>Written by: <%= link_to review.user.name, user_path(review.user_id) %></small><br>
      <%= review.content %></p>
  <% end %>
  </li>
</ul>
