<div class="new-box"><br>
<b><h1>Destination: <%= @destination.name %></h1><b>

<h5><%= form_tag @destination %></h5>
<h6><%= label_tag(@destination.description)%></h6><br>
</div><br><br>

<ul class="nav nav-tabs col-10 col-md-5">
  <li class="nav-item new-box">
    <a class="nav-link" href="<%=@destination.location_url%>">Location</a>
  </li>
  <li class="nav-item new-box">
    <a class="nav-link" href="<%=@destination.booking_url%>">Book now</a>
  </li>
  <li class="nav-item new-box">
    <a class="nav-link" href="/reviews/new">Add a review</a>
  </li>
</ul>

<% if @destination.reviews.count != 0 %>

<div class="new-box col-10 col-md-5">
  <h2>User Reviews</h2>

  <% @destination.reviews.each do |review| %>
      <div>
        <div class="card bg-dark text-light">
          <div class="card-body">
            <h4 class="card-title"><p><b><%= review.title %></h4>
            <h6 class="card-subtitle mb-2 text-muted">By:
              <% if current_user %>
                <%= link_to review.user.name, "/users/#{review.user_id}/profile" %>
              <% else %>
                <%= link_to review.user.name, user_path(review.user_id) %>
              <% end %>
              </h6>
            <p class="card-text">
              <%= review.content %>
            </p>
          </div>
        </div>
      </div><br>
  <% end %>
  </div>
  <% else %>
  <div class="new-box col-10 col-md-5">
    <h2>No reviews yet, you can be the first!</h2>
    <a class="nav-link" href="/reviews/new">Write a review</a>
  </div>

  <% end %>

  <br><br><br><br><br><br>
