<b><h1>Destination: <%= @destination.name %></h1><b>

<%= form_tag @destination %>
<%= label_tag(@destination.description)%><br><br>


<ul class="nav nav-tabs col-10 col-md-5">
  <li class="nav-item new-box">
    <a class="nav-link" href="<%=@destination.location_url%>">Location</a>
  </li>
  <li class="nav-item new-box">
    <a class="nav-link" href="<%=@destination.booking_url%>">Book now</a>
  </li>
</ul>



<div class="new-box col-10 col-md-5">


  <h2>User Reviews</h2>

  <% @destination.reviews.each do |review| %>
      <div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><p><b><%= review.title %></h4>
            <h6 class="card-subtitle mb-2 text-muted">By: <%= link_to review.user.name, user_path(review.user_id) %></h6>
            <p class="card-text">
              <%= review.content %>
            </p>
          </div>
        </div>
      </div><br>
  <% end %>
  </div>

  <br><br><br><br><br><br>
