<div class="container-fluid">
<b><h1>Destination: <%= @destination.name %></h1><b>

<%= form_tag @destination %>
<%=label_tag(@destination.description)%><br><br>

</div>
<body>
  
  <h4>User Reviews</h4>

  <% @destination.reviews.each do |review| %>
      <div class="col-5">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><p><b><%= review.title %></h4>
            <h6 class="card-subtitle mb-2 text-muted">By: <%= link_to review.user.name, user_path(review.user_id) %></h6>
            <p class="card-text">
              <%= review.content %>
            </p>
          </div>
        </div>
      </div><br>
  <% end %>
  <a href="<%=@destination.location_url%>" class="card-link">Location</a>
  <a href="<%=@destination.booking_url%>" class="card-link">Book now</a>
  </body>
