<h1>Destination:</h1>

<%= form_tag @destination %>
<%=label_tag(@destination.name)%><br><br>
<%=label_tag(@destination.description)%><br><br>
<%=label_tag(@destination.location_url)%><br><br>
<%=label_tag(@destination.booking_url)%>
<ul>
  <% @destination.reviews.each do |review| %>
  <li><p><b><%= review.title %></b><br>
    <small>Written by: <%= link_to review.user.name, user_path(review.user_id) %></small><br>
      <%= review.content %></p>
  <% end %>
  </li>
</ul>
