<br><br><br>
<br>
<br>
<div class= "new-box col-4 offset-4 card text-center">
  <% if flash[:errors] %> 
    <% flash[:errors].each do |error| %> 
      <li><%= error %></li> 
    <% end %>
   <% end %>

  <h2>Create New Review</h2>
    <%= form_for @review do |f|%>
      <h4><%= f.label :title %></h4>
        <p><%= f.text_field :title %></p>
        <h4><%= f.label :rating %></h4>
          <p><%= f.number_field :rating %></p>
      <h4><%= f.label :content, 'Review Content' %></h4>
        <p><%= f.text_area :content%></p>
      <h4>Select Destination</h4>
        <p><%= f.collection_select(:destination_id, Destination.all, :id, :name) %></p>
      <%= f.submit %>
    <% end %>
</div>
