<br>
<div class= "new-box col-6">
<h2>Create a new review:</h2>
<%= form_for @review do |f|%>
  <h4><%= f.label :title %></h4>
  <%= f.text_field :title %><br>
  <h4><%= f.label 'Review body' %></h4>
  <%= f.text_area :content%><br>
  <%= f.collection_select(:destination_id, Destination.all, :id, :name) %>
  <%= f.submit %>
<% end %>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
