<!DOCTYPE html>
<html>
  <head>
    <title>SocialWilderness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home", '/' %></li>
              <li><%= link_to "Sign up", '/users/new' %></li>
              <li><%= link_to "Login", '/users' %></li>
            </ul>
          </nav>
        </div>
      </header>
    <%= yield %>
  </body>
</html>
